{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="about-section">
  <h1>Simple Docker WebUI.</h1>
  <p>Straightforward interface to control the containers for your docker home server.</p>
  <p>Report any issues you encounter on my GitHub page.</p>
  <i class="fa fa-github" style="font-size:36px"></i> <a href="https://github.com/ftsiadimos/simpledockerwebui">SimpleDockerWebUI</a>
</div>


{% endblock %}